@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin: 10px;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.nav-icon img {
    width: 3rem;
    height: 1.5rem;
    margin-right: 10px;
}
.nav-icon > h2 {
    font-weight: bold;
    font-size: 1.7rem;
}
.nav-icon > h2 > strong {
    color: #FF42A5;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items > ul {
    display: flex;
}
.nav-items > ul > li {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.follow-us {
    background-color: #E7E6E9;
    padding: 5px 12px;
    border-radius: 5px;
}
.follow-us span {
    font-size: 0.9rem;
}
.fa-youtube {
    color: red;
    padding: 5px;
}
.fa-tiktok {
    color: black;
}
/* nav section */

/* play section */
.play {
    background-color: #ebeaee;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.play-section-content {
    margin-top: 100px;
}
.play-section-content h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.play-section-content h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #A154E3;
    color: #C84FCD;
}
.click-play, .no-download, .game-nos {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.click-play p, .no-download p, .game-nos p {
    margin-left: 5px;
}
.play-section-image img {
    height: 420px;
    width: 420px;
}
.play-section-btns {
    margin-top: 20px;
}
.sign {
    padding: 12px 20px;
    background-color: #FF42A5;
    border-radius: 20px;
    border: none;
    color: #fff;
}
.rogue {
    padding: 12px 20px;
    background-color: #4EC5F7;
    border-radius: 20px;
    border: none;
    color: #fff;
    margin-left: 10px;
}














/* responsive */
/* play-section */
@media screen and (max-width: 576px) {
    * {
        text-align: center;
    }
    nav, .nav-items, .nav-items > ul {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .play {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0 50px;
        height: 85vh;
    }
    .play-section-image{
        justify-content: center;
    }
    .play-section-image img {
        height: 100%;
        width: 100%;
    }
    .play-section-content {
        margin-top: 50px;
    }
    .play-section-content div {
        margin-left: 30px;
    }
    .play-section-btns {
        text-align: left;
    }
}