@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 10px;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.nav-icon img {
    width: 3rem;
    height: 1.5rem;
    margin-right: 10px;
}
.nav-icon > h2 {
    font-weight: bold;
    font-size: 1.7rem;
}
.nav-icon > h2 > strong {
    color: #FF42A5;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items > ul {
    display: flex;
}
.nav-items > ul > li {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.follow-us {
    background-color: #E7E6E9;
    padding: 7px 12px;
    border-radius: 5px;
}
.follow-us span {
    font-size: 0.9rem;
}
.fa-youtube {
    color: red;
    padding: 5px;
}
.fa-tiktok {
    color: black;
}
/* nav section */
/* play section */
.play {
    background-color: #ebeaee;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.play-section-image img {
    height: 440px;
    width: 440px;
}